*{
    background-color: black;
    margin: 0px;
    padding: 0px;
    outline: 0;
    
}

.container1{
    border: thin #33d60a;
    align-content: center;
    justify-content: center;
    height:800px;
    width: 1000px;
    margin: auto;
    
}

.flex-container 
{
    display: flex;
    justify-content: center;
    align-content: center;
    align-content: top;
    flex-wrap: wrap;
}

.item img {
    height: 400px;
    padding: 5em;
    display: block;
}

.item span
{
    display: block;
    padding: 5px;
    font-weight: bold;
    text-align: center;
}

ul {

    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
}

li {
    float: left;
}

li a {
    background-color: black;
    display: block;
    color: hotpink;
    text-align: center;
    padding: 16px;
    text-decoration: none;  
}

.navBar
{
    display: flex;
    width: 100%;
}

.navBar a:hover {
    color: #33d60a;
    
}


/* footer */

.footer {
    background-color: rgb(0, 0, 0);
    color: hotpink;
    text-align: center;
    padding: .5em 0;
}

.footer a { 
    background-color: black;
    text-decoration: none;
}

.fab
{
    background-color: black;
}

.footer-link {
    background-color: black;
    color: hotpink;
    font-size: 2.5rem;
    font-weight: 100;
}

.footer-link:hover,
.social-list__link:hover {
    background-color: black;
    color: #33d60a;
}

.footer-link:hover {
    background-color: black;
    text-decoration: underline;
}

.social-list {
    background-color: black;
    list-style: none;
    display: flex;
    justify-content: center;
}